# Python 运行产物
__pycache__/
*.py[cod]
*.so

# 虚拟环境与编译产物
*.venv/

# 深度学习相关，model文件的训练模型
.pth

# Jupyter
*.ipynb_checkpoints/

# 数据与缓存，CIFAR-10
dataset/
*.tar.gz

#model1为改进模型，model为原模型
src/

# 可选保留（手动管理），环境参数
requirements.txt